@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

div {
  font-family: "Ubuntu", sans-serif;
}
.App {
  text-align: center;
}
button{
  border-radius: 10%;
}
.buttonMargin{
  margin-top: 2vw;
}
.nextLinePlacement{
  display: block;
}
.deleteButtonClass{
  margin-top: 2vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login_button{
  margin-top: 2vw;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginBorder{
  border-style: hidden;
  margin: 15vw 30vw 15vw 30vw;
  padding: 6vw 3vw 6vw 3vw;
  border-radius: 5%;
  background-color: rgb(80, 82, 82);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.loginPageTextColor{
  color: rgb(185, 183, 183);
  padding-bottom: 2vw;
}
.buttonTextColor{
  color: rgb(0, 0, 0);
}
.detailsBorder{
  border-style: solid;
  margin: 15vw 30vw 15vw 30vw;
  padding: 1vw 1vw 2vw 1vw;
  border-color: rgb(151, 151, 151);
}

.insideYellowBorder{
  border-style: solid;
  height: 8vh;
  background-color: rgb(80, 82, 82);
  border-color: rgb(209, 208, 208);
  margin-bottom: 2vw;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.usernameAlign{
  float: right;
  margin-right: 10px;
  color:rgb(163, 159, 159);
}
tr:nth-child(even) {
  background-color: #d8d8d8;
}
tr:nth-child(odd) {
  background-color: #adadad;
}
.backgroundColorElement{
  background-color: #5a5a5c;
}
.profilePictureDimensions{
  margin-top: 2vw;
  width: 23%;
  height: 8vw;
  border-radius: 50%;
}
.detailsBorderProfile{
  border-style: solid;
  margin: 15vw 30vw 15vw 30vw;
  padding: 1vw 1vw 13vw 1vw;
  border-color: rgb(209, 208, 208);
}
.textAreaName{
  width: 80%;
  height: 2vw;
}
.textAreaPassword{
  width: 80%;
  height: 2vw;
  margin-top: 10px;
}
.inputFieldSignUpUsername{
  width: 80%;
  height: 2vw;
  
}
.link_Maker{
  cursor: pointer;
}
.inputFieldSignUpPassword{
  width: 80%;
  height: 2vw;
  margin-top: 10px;
}
.redFont{
  color: lightcoral;
}
.profileLogoutButton{
  font-size: 12px;
  float: right;
}
.backgroundFill{
  border-style: solid;
  padding-top: 10vh;
  padding-bottom: 21vh;
  background-image: linear-gradient(125deg, #6f7375, #000000);
}
.userDetailsText{
  color: rgb(209, 208, 208);
}
.arrowImageSizing{
  width: 10%;
  float: left;
  margin-top: 1vw;
  width: 15%;
}
@media screen and (min-width: 360px) and (max-width: 500px) {
  .loginBorder{
    border-style: hidden;
    margin: 15vw 15vw 15vw 15vw;
    padding: 6vw 3vw 6vw 3vw;
    border-radius: 5%;
    background-color: rgb(80, 82, 82);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 10px;
  }
  .detailsBorder{
    border-style: solid;
    margin: 15vw 10vw 15vw 10vw;
    padding: 1vw 1vw 20vw 1vw;
    border-color: rgb(151, 151, 151);
  }
  .profileLogoutButton{
    font-size: 8px;
    float: right;
  }
  .userDetailsButton{
    font-size: 8px;
    float: right;
  }
  .tableSizing{
    font-size: 1px;
  }
  .backgroundColorElement{
    font-size: 9px;
  }
  .usernameAlign {
    float: right;
    margin-right: 10px;
    color: rgb(163, 159, 159);
    font-size: 14px;
  }
  .detailsBorderProfile{
    border-style: solid;
    margin: 15vw 17vw 15vw 17vw;
    padding: 1vw 1vw 13vw 1vw;
    border-color: rgb(209, 208, 208);
  }
  .profilePictureDimensions{
    width: 35%;
    height: 19vw;
    border-radius: 50%;
  }
  .textAreaName{
    width: 80%;
    height: 6vw;
  }
  .inputFieldSignUpUsername{
    width: 80%;
    height: 6vw;
    
  }
  .inputFieldSignUpPassword{
    width: 80%;
    height: 6vw;
    margin-top: 10px;
  }
  .textAreaPassword{
    width: 80%;
    height: 6vw;
    margin-top: 10px;
  }
  .buttonTextColor{
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
}
@media screen and (min-width: 310px) and (max-width: 359px) {
  .loginBorder{
    border-style: hidden;
    margin: 15vw 10vw 15vw 10vw;
    padding: 6vw 3vw 6vw 3vw;
    border-radius: 5%;
    background-color: rgb(80, 82, 82);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .userDetailsButton{
    float: right;
    font-size: 10px;
  }
  .usernameAlign {
    float: right;
    margin-right: 10px;
    color: rgb(163, 159, 159);
    font-size: 10px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 9px;
  }
  .detailsBorder{
    border-style: solid;
    margin: 15vw 10vw 15vw 10vw;
    padding: 1vw 1vw 20vw 1vw;
    border-color: rgb(151, 151, 151);
  }
  .detailsBorderProfile{
    border-style: solid;
    margin: 15vw 15vw 15vw 15vw;
    padding: 1vw 1vw 13vw 1vw;
    border-color: rgb(209, 208, 208);
  }
  .profileLogoutButton{
    font-size: 6px;
    float: right;
  }
  .profilePictureDimensions{
    width: 35%;
    height: 19vw;
    border-radius: 50%;
  }
  .textAreaName{
    width: 80%;
    height: 9vw;
  }
  .inputFieldSignUpUsername{
    width: 80%;
    height: 9vw;
    
  }
  .inputFieldSignUpPassword{
    width: 80%;
    height: 9vw;
    margin-top: 10px;
  }
  .textAreaPassword{
    width: 80%;
    height: 9vw;
    margin-top: 10px;
  }
  .buttonTextColor{
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
}
@media screen and (min-width: 510px) and (max-width: 750px) {
  .loginBorder{
    border-style: hidden;
    margin: 15vw 10vw 15vw 10vw;
    padding: 6vw 3vw 6vw 3vw;
    border-radius: 5%;
    background-color: rgb(80, 82, 82);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .userDetailsButton{
    float: right;
    font-size: 14px;
  }
  .detailsBorder{
    border-style: solid;
    margin: 15vw 10vw 15vw 10vw;
    padding: 1vw 1vw 20vw 1vw;
    border-color: rgb(151, 151, 151);
  }
  .detailsBorderProfile{
    border-style: solid;
    margin: 15vw 15vw 15vw 15vw;
    padding: 1vw 1vw 13vw 1vw;
    border-color: rgb(209, 208, 208);
  }
  .profilePictureDimensions{
    width: 35%;
    height: 19vw;
    border-radius: 50%;
  }
  .textAreaName{
    width: 80%;
    height: 7vw;
  }
  .inputFieldSignUpUsername{
    width: 80%;
    height: 7vw;
  }
  .inputFieldSignUpPassword{
    width: 80%;
    height: 7vw;
    margin-top: 10px;
  }
  .textAreaPassword{
    width: 80%;
    height: 7vw;
    margin-top: 10px;
  }
  .buttonTextColor{
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
}
@media screen and (min-width: 280px) and (max-width: 309px) {
  .loginBorder{
    border-style: hidden;
    margin: 15vw 10vw 15vw 10vw;
    padding: 6vw 3vw 6vw 3vw;
    border-radius: 5%;
    background-color: rgb(80, 82, 82);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .userDetailsButton{
    float: right;
    font-size: 10px;
  }
  .profilePictureDimensions{
    width: 35%;
    height: 19vw;
    border-radius: 50%;
  }
  .usernameAlign {
    float: right;
    margin-right: 10px;
    color: rgb(163, 159, 159);
    font-size: 10px;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 7px;
  }
  .detailsBorder{
    border-style: solid;
    margin: 15vw 10vw 15vw 10vw;
    padding: 1vw 1vw 20vw 1vw;
    border-color: rgb(151, 151, 151);
  }
  .detailsBorderProfile{
    border-style: solid;
    margin: 15vw 13vw 15vw 13vw;
    padding: 1vw 1vw 13vw 1vw;
    border-color: rgb(209, 208, 208);
  }
  .textAreaName{
    width: 80%;
    height: 7vw;
  }
  .inputFieldSignUpUsername{
    width: 80%;
    height: 7vw;
    
  }
  .profileLogoutButton{
    font-size: 10px;
    float: right;
  }
  .inputFieldSignUpPassword{
    width: 80%;
    height: 7vw;
    margin-top: 10px;
  }
  .textAreaPassword{
    width: 80%;
    height: 7vw;
    margin-top: 10px;
  }
  .buttonTextColor{
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .loginBorder{
    border-style: hidden;
    margin: 20vw 10vw 20vw 10vw;
    padding: 15vw 3vw 15vw 3vw;
    border-radius: 5%;
    background-color: rgb(80, 82, 82);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .userDetailsButton{
    float: right;
    font-size: 20px;
  }
  .detailsBorder{
    border-style: solid;
    margin: 15vw 10vw 15vw 10vw;
    padding: 1vw 1vw 20vw 1vw;
    border-color: rgb(151, 151, 151);
  }
  .profileLogoutButton{
    font-size: 21px;
    float: right;
  }
  .deleteButtonProfile{
    font-size: 31px;
  }
  .usernameAlign{
    float: right;
    margin-right: 10px;
    color:rgb(163, 159, 159);
    font-size: 25px;
  }
  .userDetailsText{
    color: rgb(209, 208, 208);
    font-size: 30px;
  }
  .detailsBorderProfile{
    border-style: solid;
    margin: 15vw 15vw 15vw 15vw;
    padding: 1vw 1vw 13vw 1vw;
    border-color: rgb(209, 208, 208);
  }
  .profilePictureDimensions{
    width: 30%;
    height: 18vw;
    border-radius: 50%;
  }
  .textAreaName{
    width: 80%;
    height: 5vw;
  }
  .inputFieldSignUpUsername{
    width: 80%;
    height: 5vw;
    
  }
  .inputFieldSignUpPassword{
    width: 80%;
    height: 5vw;
    margin-top: 10px;
  }
  .textAreaPassword{
    width: 80%;
    height: 5vw;
    margin-top: 10px;
  }
  .buttonTextColor{
    color: rgb(0, 0, 0);
    font-size: 24px;
  }
  .loginPageTextColor{
    color: rgb(185, 183, 183);
    font-size: 3vh;
    padding-bottom: 2vw;
  }
}
.pageInformationText{
  float: left;
}
.deleteButtonProfile{
  font-size: 15px;
}
.leftArrowSign{
  width: 15%;
  float: left;
  margin-top: 1vw;
}
.countPage{
  color: rgb(185, 183, 183);
}
.elementsInline{
  display: inline;
}
.mailOnclick{
  color: #151cd6;
  text-decoration: underline;
  cursor: pointer;
}